<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PersonMangerMapper">
    
    <resultMap type="PersonManger" id="PersonMangerResult">
        <result property="staffid"    column="staffID"    />
        <result property="basepay"    column="basepay"    />
        <result property="postsalary"    column="postsalary"    />
        <result property="bonus"    column="bonus"    />
    </resultMap>

    <sql id="selectPersonMangerVo">
        select staffID, basepay, postsalary, bonus from personManger
    </sql>

    <select id="selectPersonMangerList" parameterType="PersonManger" resultMap="PersonMangerResult">
        <include refid="selectPersonMangerVo"/>
        <where>  
            <if test="staffid != null  and staffid != ''"> and staffID = #{staffid}</if>
            <if test="basepay != null "> and basepay = #{basepay}</if>
            <if test="postsalary != null "> and postsalary = #{postsalary}</if>
            <if test="bonus != null "> and bonus = #{bonus}</if>
        </where>
    </select>
    
    <select id="selectPersonMangerByStaffid" parameterType="String" resultMap="PersonMangerResult">
        <include refid="selectPersonMangerVo"/>
        where staffID = #{staffid}
    </select>
        
    <insert id="insertPersonManger" parameterType="PersonManger">
        insert into personManger
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="staffid != null">staffID,</if>
            <if test="basepay != null">basepay,</if>
            <if test="postsalary != null">postsalary,</if>
            <if test="bonus != null">bonus,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="staffid != null">#{staffid},</if>
            <if test="basepay != null">#{basepay},</if>
            <if test="postsalary != null">#{postsalary},</if>
            <if test="bonus != null">#{bonus},</if>
         </trim>
    </insert>

    <update id="updatePersonManger" parameterType="PersonManger">
        update personManger
        <trim prefix="SET" suffixOverrides=",">
            <if test="basepay != null">basepay = #{basepay},</if>
            <if test="postsalary != null">postsalary = #{postsalary},</if>
            <if test="bonus != null">bonus = #{bonus},</if>
        </trim>
        where staffID = #{staffid}
    </update>

    <delete id="deletePersonMangerByStaffid" parameterType="String">
        delete from personManger where staffID = #{staffid}
    </delete>

    <delete id="deletePersonMangerByStaffids" parameterType="String">
        delete from personManger where staffID in 
        <foreach item="staffid" collection="array" open="(" separator="," close=")">
            #{staffid}
        </foreach>
    </delete>
</mapper>